#page {
    background-color: white;
}

h1 {
    padding: 20px;
}

.section-title {
    text-align: center;
}

.section-container {
    background-color: aliceblue;
}

#first-title {
    background-color: yellow;
}

#second-title {
    background-color: greenyellow;
}

#third-title {
    background-color: orange;
}

.